
# MongoDB

MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

MONGO_URI=mongodb://<usuario>:<senha>@mongo:27017/<database>?authSource=admin

# MySQL

MYSQL_HOST=mysql
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=